<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Tu wpisz opis zawartości strony">
	<title>Tytuł strony</title>
</head>
<body>
    {% block 'content' %}
    {% endblock %}


<body>
</html>