{% extends "base.html" %}

{% block 'content' %}
<ul>
{% for author in object_list %}
    <li>{{forloop.counter}} <a href="{% url 'shelf:author-detail' author.id %}">{{ author.last_name }} {{ author.first_name }}</a></li>
{% endfor %}
</ul>
{% endblock %}